.App {
  text-align: left;
  max-width: 900px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1, h2, h5 {
  font-family: 'Roboto Slab', serif;
}
h1, h2, h5, .pink {
  color: #E5006d;
}
h6 {
  font-weight: bold;
}
h5.gpbs {
  color: black;
  text-align: -moz-right;
  text-align: right;
}

.App-link {
  color: #E5006d;
}

.projectCard {
  border: #e9ecef 2px solid;
  margin: .8em 0;
}
.projectAttic {
  padding: 1em;
}.projectAnnex {
  background-color: #e9ecef;
  padding: 1em;
}