.App {
  text-align: left;
  max-width: 1200px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}
h4 {
  font-weight: 800;
}

.App-link {
  color: #61dafb;
}
