.App {
  text-align: left;
  max-width: 900px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1, h2, h5 {
  font-family: 'Roboto Slab', serif;
}
h1, h2, h5, .pink {
  color: #E5006d;
}
h6 {
  font-weight: bold;
}
h5.gpbs {
  color: black;
  text-align: -moz-right;
  text-align: right;
}

.App-link {
  color: #E5006d;
}

.projectCard.container {
  border: #e9ecef 2px solid;
  margin: .5em 0.2em;
  width: auto;
}
.projectAttic {
  padding: 1em;
}.projectAnnex {
  background-color: #e9ecef;
  padding: 1em;
}
.searchout.accordion-item  {
  border: none;
}
.activemark {
  vertical-align: bottom;
}
.searcher.accordion-body {
  border: solid 1px rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  margin: 0.2em;
}
.orderby {
  position: absolute;
  width: 100%;
}
.filterHead.col {
  border: solid 2px rgb(240, 0, 132);
  border-radius: 0.25rem;
  margin: 0.2rem;
  padding: 0;
  position: relative;
}